@import "@master/normal.css";
@import url("./base.css");
@import url("./trackProgress.css");

.view {
  max-height: 80dvh;
}

@media (max-height: 184px) {
  .menu {
    display: none;
  }

  .view {
    display: none;
  }
}

input {
  padding: 0.3rem;
  border: 1px solid var(--color-border);
  border-radius: 1rem;
  background-color: var(--vt-c-black-soft);
  color: var(--color-text);
  text-align: center;
}

.setting {
  display: flex;
  padding: 1rem;
  background-color: #fdfdfd;
}

.title-bar-drag-region {
  -webkit-app-region: drag;
}
